<% if not sessions.blank? %>
    
  <table class="table table-responsive">
    <thead>
      <tr>
        <th width="30%">Session</th>
        <th width="30%">Dates</th>
        <th class="text-center">Players</th>
        <th class="text-center">Matches</th>
        <th class="actions">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <% sessions.each do |session| %>
      
      <%
        build_link_class = 'btn-primary'
        if session.start_date <= Date.today
          build_link_class += ' disabled'
        end
      %>
        <tr>
          <td><%= session.name %></td>
          <td><%= session.dates %></td>
          <td class="text-center"><%= session.players.count.to_s %></td>
          <td class="text-center"><%= session.session_times.count.to_s %></td>
          <td>
            <%= link_to raw(fa_icon 'puzzle-piece'), session_build_path(session), class: build_link_class, title: 'Build' %>
            <%= link_to raw(fa_icon 'share'), session_path(session), class: 'btn-primary', title: 'View' %>
            <%= link_to raw(fa_icon 'pencil'), edit_session_path(session), class: 'btn-primary', title: 'Edit' %>
            <%= link_to raw(fa_icon 'remove'), session_path(session), method: :delete, class: 'btn-primary', title: 'Delete' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>

  <p>No sessions available</p>

<% end %>