<div class="row">
  <div class=col-xs-24>
    
    <div class="row">
      <div class="col-xs-12">
        <h1>Sessions</h1>
      </div>
      <div class="col-xs-12">
        <%= link_to raw(fa_icon 'plus', text: 'Add Session'), new_session_path, class: 'btn-primary pull-right' %>
      </div>
    </div>
      
    <ul class="nav nav-tabs">
      <li>
        <%= link_to raw(fa_icon 'rocket', text: 'Current'), '#current-sessions', data: {toggle: "tab"} %>
      </li>
      <li>
        <%= link_to raw(fa_icon 'cubes', text: 'Upcoming'), '#upcoming-sessions', data: {toggle: "tab"} %>
      </li>
      <li>
        <%= link_to raw(fa_icon 'archive', text: 'Past'), '#past-sessions', data: {toggle: "tab"} %>
      </li>
    </ul>
    
    <div class="tab-content">
      
      <div class="tab-pane active" id="current-sessions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>Current Sessions</h2>
          </div>
          <%= render 'session_list', sessions: @current_sessions %>
        </div>
      </div>
      
      <div class="tab-pane" id="upcoming-sessions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>Upcoming Sessions</h2>
          </div>
          <%= render 'session_list', sessions: @upcoming_sessions %>
        </div>
      </div>
      
      <div class="tab-pane" id="past-sessions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>Past Sessions</h2>
          </div>
          <%= render 'session_list', sessions: @past_sessions %>
        </div>
      </div>
      
    </div>
    
  </div>
</div>