<div class="row">
  <div class=col-xs-24>
    
      <div class="row">
        <div class="col-xs-12">
          <h1>Sessions</h1>
        </div>
        <div class="col-xs-12">
          <%= link_to raw(fa_icon 'plus', text: 'Add Session'), new_session_path, class: 'btn-primary pull-right' %>
        </div>
      </div>
    
    <% if not @sessions.blank? %>
        
      <table class="table table-responsive">
        <thead>
          <tr>
            <th width="40%">Session</th>
            <th>Dates</th>
            <th class="actions">
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <% @sessions.each do |session| %>
            <tr>
              <td><%= session.name %></td>
              <td><%= session.dates + ' (' + session.session_dates.count.to_s + ' Matches)' %></td>
              <td>
                <%= link_to raw(fa_icon 'share'), session_path(session), class: 'btn-primary', title: 'View' %>
                <%= link_to raw(fa_icon 'pencil'), edit_session_path(session), class: 'btn-primary', title: 'Edit' %>
                <%= link_to raw(fa_icon 'remove'), session_path(session), method: :delete, class: 'btn-primary', title: 'Delete' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    
    <% else %>
    
      <p>No sessions available</p>
    
    <% end %>
    
  </div>
</div>