<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Rank</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Role</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% sessions.each do |session| %>
      
      <tr>
        <td colspan="3">
          <%= session.name %>
        </td>
        <td colspan="3">
          <%= session.dates %>
        </td>
      </tr>
    
      <% session.player_sessions.each do |player_session| %>
        <tr>
          <td><%= player_session.player.name %></td>
          <td><%= player_session.rank %></td>
          <td><%= player_session.player.email %></td>
          <td><%= player_session.player.phone %></td>
          <td><%= @roles[player_session.player.role] %></td>
          <%
            actions = case
              when player_session.player.role == 'A'
                {
                  'activate' => {
                    label: fa_icon('thumbs-down'),
                    href: player_activate_path(player_session.player),
                    class: 'btn-primary',
                    title: ''
                  },
                  'adminify' => {
                    label: fa_icon('star-half-empty'),
                    href: player_admin_path(player_session.player),
                    class: 'btn-primary',
                    title: 'Limit to User'
                  }
                }
              when player_session.player.role == 'U'
                {
                  'activate' => {
                    label: fa_icon('thumbs-down'),
                    href: player_activate_path(player_session.player),
                    class: 'btn-primary',
                    title: 'Deactivate'
                  },
                  'adminify' => {
                    label: fa_icon('star'),
                    href: player_admin_path(player_session.player),
                    class: 'btn-primary',
                    title: 'Make Admin'
                  }
                }
              else
               {
                  'activate' => {
                    label: fa_icon('thumbs-up'),
                    href: player_activate_path(player_session.player),
                    class: 'btn-primary',
                    title: 'Activate'
                  },
                  'adminify' => {
                    label: fa_icon('star'),
                    href: '#',
                    class: 'btn-primary disabled',
                    title: ''
                  }
                }
            end
          %>
          <td>
            <% actions.each do |action| %>
              <%= link_to raw(action[1][:label]), action[1][:href], method: 'put', class: action[1][:class], title: action[1][:title] %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>