<div class="row">
  <div class=col-xs-24>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Role</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @players.each do |player| %>
          <tr>
            <td><%= player.name %></td>
            <td><%= player.email %></td>
            <td><%= player.phone %></td>
            <td><%= @roles[player.role] %></td>
            <%
              if player.role == 'L'
                active_toggle_name = 'Activate'
                admin_toggle_href = '#'
              else
                active_toggle_name = 'Deactivate'
                admin_toggle_href = player_admin_path(player)
              end
            %>
            <td>
              <% admin_toggle_name = (player.role == 'A') ? 'Limit to User' : 'Make Admin' %>
              <%= link_to active_toggle_name, player_activate_path(player), method: 'put' %>
              <%= link_to admin_toggle_name, admin_toggle_href, method: 'put' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>