<div class="row">
  <aside class="profile col-xs-24 col-sm-8 sidebar">
    <div class="profile-wrap">
      <h1><%= @player.name %></h1>
      <div>
        <p><%= @player.email %></p>
        <p><%= @player.phone %></p>
      </div>
    </div>
    
    <% if @my_open_sub_requests %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><%= fa_icon 'exclamation-circle' %> My Open Sub Requests</h4>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <% @my_open_sub_requests.each do |player_session_time| %>
              <li class="list-group-item">
                <%= simple_form_for @player, url: cancel_sub_path(@player, player_session_time.id), html: {method: 'patch'} do |f| %>
                  <%= f.label :sub_requested do %>
                    <%= f.hidden_field :sub_requested, value: 'cancel' %>
                    <%= player_session_time.session_time.start_time.strftime("%a. %b #{player_session_time.session_time.start_time.day.ordinalize} - %I:%M%p") %>
                  <% end %>
                  <%= submit_tag 'Cancel', class: 'btn-primary btn-sm pull-right' %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  
  <% if @upcoming_sessions && @registration_deadline && Time.now < @registration_deadline %>
      <div class="panel panel-default upcoming-sessions">
        <div class="panel-heading">
          <h4><%= fa_icon 'check' %> Choose Your Sessions!</h4>
          <p>You have until <%= @registration_deadline.strftime("%B #{@registration_deadline.day.ordinalize}, %Y") %> to edit your preferences</p>
        </div>
        <div class="panel-body">
          <%= simple_form_for @player, url: player_sessions_select_path(@player), html: {method: 'patch'} do |f| %>
            <% @upcoming_sessions.each do |session| %>
              <% ps = @player.player_sessions.where(session_id: session.id).first_or_initialize %>
              
              <%= f.fields_for :player_sessions, ps do |ff| %>
                <div class="row">
                <div class="session-box">
                  <div class="checkbox">
                    <%= ff.label :is_in_session do %>
                      <%= ff.check_box :is_in_session, class: 'icheck checker', data: {skin: 'square', color: 'green'} %>
                      <%= ff.object.session.name %>
                    <% end %>
                  </div>
                </div>
                <div class=" session-box session-sub">
                  <div class="checkbox">
                    <%= ff.label :is_sub do %>
                      <%= ff.check_box :is_sub, class: 'icheck checker', data: {skin: 'square', color: 'green'} %>
                      Sub
                    <% end %>
                  </div>
                </div>
                <%= ff.hidden_field :session_id %>
              </div>
              <% end %>
            <% end %>
            <%= submit_tag 'Save', class: 'btn-primary upcoming-btn' %>
          <% end %>
        </div>
      </div> <!-- panel -->
    <% end %>
  </aside>
  
  <div class="col-xs-24 col-sm-16">    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Current Sessions</h2>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Session</th>
            <th>Dates</th>
            <th>Rank</th>
          </tr>
        </thead>
        <tbody>
          <%= render @current_sessions %>
        </tbody>
      </table>
      <div class="panel-body">
        <div id="calendar" data-url="<%= calendar_path(@player.id) %>">
        </div>
      </div>
    </div> <!-- panel -->
    
  </div>
</div>