<div class="row">
  <aside class="col-xs-24 col-sm-6 sidebar">
    <h1><%= @player.name %></h1>
    <div>
      <p><%= @player.email %></p>
      <p><%= @player.phone %></p>
    </div>
    <address>
      
    </address>
  </aside>
  
  <div class="col-xs-24 col-sm-18">
    
    <% if @upcoming_sessions && Time.now < @registration_deadline %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Choose Your Sessions!</h2>
          <p>You have until <%= @registration_deadline.strftime("%B #{@registration_deadline.day.ordinalize}, %Y") %> to edit your preferences</p>
        </div>
        <div class="panel-body">
          <%= simple_form_for @player, url: player_update_sessions_path do |f| %>
            <div class="row">
              <div class="col-xs-24 col-sm-12">
                <%=
                  f.collection_check_boxes(:session_ids, @upcoming_sessions, :id, :name, item_wrapper_tag: :div, item_wrapper_class: 'checkbox') do |c|
                    c.check_box(class: 'icheck', data: {skin: 'square', color: 'green'}) + c.text
                  end
                %>
              </div>
              <div class="col-xs-offset-3 col-xs-21 col-sm-offset-0 col-sm-12">
                <%=
                  f.collection_check_boxes(:sub_preference_ids, @upcoming_sessions, :id, :name, item_wrapper_tag: :div, item_wrapper_class: 'checkbox') do |s|
                    s.check_box(class: 'icheck', data: {skin: 'square', color: 'green'}) + 'Sub'
                  end
                %>
              </div>
            </div>
            <%= submit_tag 'Save', class: 'btn-primary' %>
          <% end %>
        </div>
      </div> <!-- panel -->
    <% end %>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Current Sessions</h2>
      </div>
      <div class="panel-body">
        <div id="calendar">
          
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Session</th>
              <th>Dates</th>
              <th>Rank</th>
            </tr>
          </thead>
          <tbody>
            <%= render @current_sessions %>
          </tbody>
        </table>
      </div>
    </div> <!-- panel -->
    
    <div class="calendar">
      
    </div>
    
  </div>
</div>